@using Data.Entities
@model FlightManager.ViewModels.Reservations.MakeReservationViewModel

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
 <div class="col-md-4">
  <form asp-action="Create">
   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
   <div class="form-group">
	<label asp-for="FirstName" class="control-label"></label>
	<input asp-for="FirstName" class="form-control" />
	<span asp-validation-for="FirstName" class="text-danger"></span>
   </div>
   <div class="form-group">
	<label asp-for="MiddleName" class="control-label"></label>
	<input asp-for="MiddleName" class="form-control" />
	<span asp-validation-for="MiddleName" class="text-danger"></span>
   </div>
   <div class="form-group">
	<label asp-for="LastName" class="control-label"></label>
	<input asp-for="LastName" class="form-control" />
	<span asp-validation-for="LastName" class="text-danger"></span>
   </div>
   <div class="form-group">
	<label asp-for="Email" class="control-label"></label>
	<input asp-for="Email" class="form-control" />
	<span asp-validation-for="Email" class="text-danger"></span>
   </div>
   <div class="form-group">
	<label asp-for="Egn" class="control-label"></label>
	<input asp-for="Egn" class="form-control" />
	<span asp-validation-for="Egn" class="text-danger"></span>
   </div>
   <div class="form-group">
	<label asp-for="Telephone" class="control-label"></label>
	<input asp-for="Telephone" class="form-control" />
	<span asp-validation-for="Telephone" class="text-danger"></span>
   </div>
   <div class="form-group">
	<label asp-for="Nationality" class="control-label"></label>
	<input asp-for="Nationality" class="form-control" />
	<span asp-validation-for="Nationality" class="text-danger"></span>
   </div>
   <div class="form-group">
	<label asp-for="TicketType" class="control-label"></label>
	<select asp-for="TicketType" class="form-control">
					@if (Test.Flight.CapacityOfBusinessClass > 0)
					{
		 <option value="Bussines">Bussines</option>
					}
					@if (Test.Flight.CapacityOfPassengers > 0)
					{
		 <option value="Economy">Economy</option>
					}
	</select>
	<span asp-validation-for="TicketType" class="text-danger"></span>
   </div>
   <div class="form-group">
	<input type="submit" value="Create" class="btn btn-primary" />
   </div>
  </form>
 </div>
</div>

<div>
 <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
