@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME TO IT CAREER AIRPORT</h1>
    <img src="https://i1.actualno.com/actualno_2013/upload/news/2021/04/20/0505586001618936945_1628460_920x708.webp"></img>    
</div>
